
@{
    ViewData["Title"] = "TestimonialError";
}


<h2 style="color: red;">@ViewBag.Message</h2>

@*<p>إذا كان لديك أي استفسارات، يرجى الاتصال بالدعم.</p>
*@

@*<a href="@Url.Action("Index", "Home")">العودة إلى الصفحة الرئيسية</a>
*@<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Back to home</a>
